.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
  font-size: 70px;
}
.carousel-control .icon-prev,
.carousel-control .fa-angle-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .fa-angle-right {
  right: 50%;
  margin-right: -10px;
}

.carousel-control.left {
  background-image: none;
 
}
.carousel-control.right {
    background-image: none;
}